<launch>
  <arg name="HAND" default='right'/>
  <arg name="NUM" default='0'/>
  <arg name="GROOVY" default="false"/>

<!--  
  <param
    name="robot_description"
    textfile= "$(find allegro_hand_description)/urdf/allegro_hand_description_right.urdf" /> -->

  <param 
    name="robot_description"
    command="$(find xacro)/xacro $(find allegro_hand_description)/urdf/allegro_hand_description_right.urdf.xacro" />
  
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
    
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find allegro_hand_description)/config/visual.rviz" />

  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />

</launch>
